/* main page structure */

body {
    background-color: dimgray;
}

#main-content-div {
    margin: 2rem auto;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    border-radius: 0.5rem;
}

#left-content, #right-content {
    margin: 0.5rem;
    height: fit-content
}

/* MEME DISPLAY */

#meme-img {
    display: block;
    margin: auto;
    border: solid black 1px;
}

#meme {
    margin: 1rem auto;
    display: block;
    position: relative;
}

.meme-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    -webkit-text-stroke: white 1px;
    text-align: center;
    overflow: hidden;
    width: 40%;
    height: 3rem;
    border: dashed black 2px;
    cursor: move;
}

.bold {font-weight: bold;}
.italics {font-style: italic;}
.strike {text-decoration: line-through;}
.underline {text-decoration: underline;}
.no-shadow {-webkit-text-stroke: white 0px;}
.all-caps {text-transform: capitalize;}

.ui-resizable-s, .ui-resizable-n {
    height: 15px;
    width: calc(100% - 20px);
    margin: auto;
    left: 0;
    right: 0;
}

.ui-resizable-e, .ui-resizable-w {
    width: 15px;
    height: calc(100% - 10px);
    top: 0;
    bottom: 0;
    margin: auto;
}

.ui-resizable-s {
    bottom: -7px;
}

.ui-resizable-n {
    top: -7px;
}

.ui-resizable-w {
    left: -7px;
}

.ui-resizable-e {
    right: -7px;
}

.ui-resizable-ne, .ui-resizable-nw, .ui-resizable-se, .ui-resizable-sw {
    width:15px;
    height: 15px;
}

.text-box-container, #drawing {
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: calc(100% - 20px);
    text-align: center;
    overflow: hidden;
    height: 100%;
    max-height: calc(100%);
}

/* END MEME DISPLAY */

#fileInput, #addImgInput {
    display: none;
}

/* left tool bar */

#image-tool-bar {
    margin: auto;
    margin-top: 1rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#image-tool-bar > span {
    display: flex;
    width: fit-content;
}

#image-tools > div{
    display: flex;
    margin: 1rem auto;
    width: 90%;
    justify-content: space-between;
}

#image-tools > div > div {
    display: inline-flex;
}

#image-tools input {
    width:50%;
}

input::-moz-color-swatch {
    border: none;
}

#image-tools label {
    margin-right: 0.5rem;
}

#spacer {
    max-width: 100%;
    display: inline;
}

/* right tools */
#text-tool-bar > div {
    margin: 0.5rem;
    padding: 0.5rem;
    height: 3.5rem;
}

textarea.form-control, #post-title {
    display: inline-block;
    width: 60%;
    min-height: 1rem;
    height: 2.5rem;
    resize: none;
}

#post-title {
    margin: 1rem;
}

.btn {
    padding: 0.5;
}

#right-content div .btn-secondary, #right-content div .btn-primary {
    margin-left: 1rem;
}

.dropdown-menu {
    padding: 1rem;
    width: 18vw;
}

.dropdown-menu div {
    margin-bottom: 0.5rem;
}

.two-items {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* MODAL SETTINGS */
#template-list img {
    width: 100%;
}

.modal-button {
    height: 5rem;
    overflow: hidden;
}

.modal-button img {
    width: 100%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-header h3, .modal-header button {
    display: flex;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.modal-footer button {
    display: flex;
}