/* main page structure */

#main-content-div {
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}

#left-content, #left-content {
    border: black solid 2px;
    margin: 0.5rem;
    height: fit-content
}

/* MEME DISPLAY */

#meme-img {
    display: block;
    margin: auto;
}

#meme {
    margin: 1rem auto;
    display: block;
    position: relative;
}

.meme-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    font-size: 2rem;
    text-transform: uppercase;
    -webkit-text-stroke: white 2px;
    left: 0;
    right:0;
    margin: auto;
    width: 60%;
    text-align: center;
    overflow: hidden;
    height: 5rem;
}

/* END MEME DISPLAY */

#fileInput {
    display: none;
}

#fileInputLabel {
    display: block;
    margin: auto;
    width: fit-content;
    text-align: center;
    cursor: pointer;
    border: solid #666666 4px;
    border-radius: 1rem;
}

#fileInputLabel p {
    padding: 1rem;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-weight: bolder;
}

/* left tool bar */

#image-tool-bar {
    width: 90%;
    display: grid;
    grid-template-columns: 40% 20% 15% 15%;
}

#image-tool-bar div button {
    margin: auto;
    display: block;
}

#image-tool-bar div {
    padding: 0.5rem;
    vertical-align: middle;
}

/* right tools */

.text-box, #post-title {
    margin: 1rem;
    height: 2rem;
    width: 70%;
    resize: none;
}

#text-tool-bar button {
    margin: 1rem;
    height: 2rem;
}