#main-content-div {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 70%;
    margin: 2rem;
        padding: 5%;

}

#left-content {
    margin-right: 1rem;
    max-width: 100%; /* Set the maximum width of the image to 100% of its container */
    height: auto; /* Allow the height to adjust based on the image */
    overflow: hidden; /* Hide any overflow from the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}
/* Style for the image */
#post-image div img {
    max-width: 100%; /* Make the image fill the container horizontally */
    height: auto; /* Allow the height to adjust based on the original aspect ratio */
    display: block; /* Ensure the image behaves as a block element */
}

#right-content {
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#meme-base {
    width: 95%;
    display: block;
    margin: auto;
    text-align: center;
}

#meme {
    margin: 1rem auto;
    display: block;
}

#fileInput {
    display: none;
}

#fileInputLabel {
    display: block;
    margin: auto;
    width: fit-content;
    text-align: center;
}

#fileInputLabel {
    cursor: pointer;
    border: solid #666666 4px;
    border-radius: 1rem;
}

#fileInputLabel p {
    padding: .5rem;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-weight: bolder;
}

.post-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.post-buttons button {
    width: 3.5rem; /* Adjust according to your preference */
    height: 3.5rem; /* Adjust according to your preference */
    border-radius: 50%; /* Makes the button circular */
    background-color: #9c9c9c; /* Change to your desired button color */
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-buttons button:hover {
    background-color: #d8d8d8; /* Change to your desired hover color */
}

@media screen and (max-width: 768px) {
    .post-buttons button {
        width: 3.5rem; /* Adjust based on screen size */
        height: 3.5rem; /* Adjust based on screen size */
    }
}

.comment-box {
    /* background-color: #f9f9f9; */
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    padding: 10px;
    margin-bottom: 10px;
}


.comment-time {
    color: #999;
    font-size: 0.8em;
}

.comment-content {
    margin-top: 5px;
}


#right-content #post-title {
    max-width: fit-content !important; /* Adjust as needed */
    max-height: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Default styles */
#left-content,
#right-content {
    float: left;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #left-content,
    #right-content {
        width: 100%; /* Stack both divs vertically */
        float: none; /* Clear the float */
    }
}

