/* Dropdown Button */
.dropbtn {
    background-color: #842626;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b2b2b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 1vh 1vh;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #823737;}

  /* Style for the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9e363a; /* Dark background for the navbar */
  width: 100%; /* Full width of the viewport */
  top: 0; /* Align the navbar at the top */
  padding: 10px 20px; /* Adjust padding as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
  z-index: 1000; /* Ensure the navbar appears above other content */
}

.bold-text {
  font-weight: bold;
}

.white-text {
  color: white;
}


/* Style for the links in the navbar */
.navbar a.highlight {
    color: white; /* White text for the links */
    padding: 14px 20px; /* Padding around the links */
    text-decoration: none; /* Remove underline from links */
    font-size: 17px; /* Increase font size */
}

/* Change the color of links on hover */
.navbar a.highlight:hover {
    background-color: #ddd; /* Light gray background on hover */
    color: black; /* Black text on hover */
}

#searchResultsDropdown {
  display: flex;
  position: absolute; /* Position the dropdown absolutely */
  top: calc(100%); /* Place the dropdown below the search bar with some spacing */
  left: 50%; /* Align the dropdown with the center of the search bar */
  transform: translateX(-50%); /* Adjust to center the dropdown horizontally */
  z-index: 1; /* Ensure the dropdown is above other content */
  background-color: var(--bs-body-bg);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 12px 16px;
  border-color: var(--bs-border-color);
  border-width: normal;
  border-style: solid;
  border-top-width: 0;
}

.resultslink {
  color: var(--bs-body-color);
  text-decoration: none;
  display: block;
  border-color: var(--bs-border-color);
  border-width: thin;
  border-style: solid;
  height: calc(50px + .5rem);
  align-content: center;
}
.resultslink:hover {
  background-color: var(--bs-secondary-bg);
  color: var(--bs-body-color);
  text-decoration: none;
}

.resultsdiv{
  padding: calc(var(--bs-gutter-x) * .25);
}

.resultsimg {
  max-width: 50px;
  max-height: 50px;
}

/* Styles for the circular button */
.circular-button {
  width: 6rem; /* Set the width of the button */
  height: 6rem; /* Set the height of the button */
  border-radius: 50%; /* Make the button circular by setting border-radius to 50% */
  background-color: #ff0000; /* Set background color for the button */
  color: white; /* Set text color */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer on hover */
  position: fixed; /* Position the button relative to the viewport */
  bottom: 20px; /* Distance from the bottom of the viewport */
  right: 20px; /* Distance from the right of the viewport */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
  outline: none; /* Remove default focus outline */
  font-size: 4rem;
}

/* Style the button on hover */
.create-button:hover {
  background-color: #b30000; /* Darker shade of blue */
}

body{
  margin: 0;
}

/* Style for the container */
.search-container {
    display: flex;
    align-items: center;
}

/* Style for the input field */
/* #searchInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px; Add some spacing between input and button
}*/

/* Style for the search button */
#searchButton {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #842626; /* Adjust to your preferred color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover effect for the search button */
#searchButton:hover {
    background-color: #823737; /* Adjust to a darker shade for hover effect */
}


.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.notif-link{
  color: inherit;
}

.notif-time{
  font-size: .75rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-items {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  gap: 10px; /* Add space between items */
}


.tag-badge {
  margin-right: .4em;
}