/* Dropdown Button */
.dropbtn {
    background-color: #a81414;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 1vh 1vh;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #895454;}

  /* Style for the navigation bar */
.navbar {
    display: flex; /* Use Flexbox */
    justify-content: space-around; /* Equally space the links within the container */
    align-items: center; /* Center items vertically */
    background-color: #532727; /* Dark background for the navbar */
    position: fixed; /* Fix the navbar to the top of the page */
    width: 100%; /* Navbar spans the full width */
    top: 0; /* Align the navbar at the top of the page */
}

/* Style for the links in the navbar */
.navbar a {
    color: white; /* White text for the links */
    padding: 14px 20px; /* Padding around the links */
    text-decoration: none; /* Remove underline from links */
    font-size: 17px; /* Increase font size */
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd; /* Light gray background on hover */
    color: black; /* Black text on hover */
}

::content{
  padding-top: 10%;
}