<!--
    Use this as a "template" template. I.E put stuff on this page that you want on every jinja template,
    check https://jinja.palletsprojects.com/en/3.1.x/templates/#base-template
    for info on how to do that.
    We should definitely be putting our nav bar here and possible our footer as well.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - D2M</title>
    <link rel="stylesheet" href="../static/css/styling.css">
    <script src = "../static/js/scripting.js"></script>
    <script src = "../static/js/search.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <a href="home.html">Home</a>
        <div>
          <input type="text" id="searchInput" placeholder="Search by name">
          <button onclick="search()">Search</button>
        </div>
        <div id="searchResultsDropdown" class="dropdown-content">
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="profile.html">Profile</a>
              [bookmarks]
              <a href="settings.html">Settings</a>
              <a id="loginOrProfile" href="../signin-oidc">Login/Signup</a>
            </div>
          </div>
    </nav>
    <div id = "main-content-div">
        {% block content %}{% endblock %}
    </div>

  <!-- importing app scripts (load order is important) -->

</body>
</html>