<!--
    Use this as a "template" template. I.E put stuff on this page that you want on every jinja template,
    check https://jinja.palletsprojects.com/en/3.1.x/templates/#base-template
    for info on how to do that.
    We should definitely be putting our nav bar here and possible our footer as well.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - D2M</title>
    <link rel="stylesheet" href="../static/css/styling.css">
    <script src = "../static/js/scripting.js"></script>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png">

    <!-- msal.min.js can be used in the place of msal.js; included msal.js to make debug easy -->
    <script id="load-msal" src="https://alcdn.msauth.net/browser/2.31.0/js/msal-browser.js"
    integrity="sha384-BO4qQ2RTxj2akCJc7t6IdU9aRg6do4LGIkVVa01Hm33jxM+v2G+4q+vZjmOCywYq"
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="./../static/js/authConfig.js"></script>
    <script type="text/javascript" src="./../static/js/navBar.js"></script>
    {% block head %} {% endblock %}
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('get_home') }}"><img src="../../static/images/logo.png" alt="D2M logo" style="width:7vh;height:7vh;"></a>
        <script src = "../static/js/search.js"></script>
    <div>
        <input type="text" id="searchInput" placeholder="Search by name">
        <button onclick="search()">Search</button>
      </div>
      <div id="searchResultsDropdown" class="dropdown-content">
        
      </div>
    </div>
        <!-- <h1>(Bell)</h1> -->
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="{{ url_for('get_profile') }}">Profile</a>
              [bookmarks]
              <a href="{{ url_for('get_settings') }}">Settings</a>
              <a href="{{ url_for('get_login') }}">Login</a>
              <a onclick="signOut()">Logout</a>
            </div>
    
    <a href="{{ url_for('get_create') }}" class="circular-button-link">
        <button class="circular-button">+</button>
    </a>
</nav>
    <div id = "main-content-div">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>