<!--
    Use this as a "template" template. I.E put stuff on this page that you want on every jinja template,
    check https://jinja.palletsprojects.com/en/3.1.x/templates/#base-template
    for info on how to do that.
    We should definitely be putting our nav bar here and possible our footer as well.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - D2M</title>
    <link rel="stylesheet" href="../static/css/styling.css">
    <script src = "../static/js/scripting.js"></script>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png">
    {% block head %} {% endblock %}
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('get_home') }}"><img src="../../static/images/logo.png" alt="D2M logo" style="width:7vh;height:7vh;"></a>
        Search Bar goes here 
        (Bell)
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <a href="{{ url_for('get_profile') }}">Profile</a>
              [bookmarks]
              <a href="{{ url_for('get_settings') }}">Settings</a>
              <a href="{{ url_for('get_login') }}">Login</a>
            </div>
          </div>
    </nav>
    <a href="{{ url_for('get_create') }}" class="circular-button-link">
        <button class="circular-button">+</button>
    </a>
    <div id = "main-content-div">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>