{% extends "base.html" %}
{% block title %} 
    Home 
{% endblock %}

{% block head %}
<!-- msal.min.js can be used in the place of msal.js; included msal.js to make debug easy -->
<script id="load-msal" src="https://alcdn.msauth.net/browser/2.31.0/js/msal-browser.js"
integrity="sha384-BO4qQ2RTxj2akCJc7t6IdU9aRg6do4LGIkVVa01Hm33jxM+v2G+4q+vZjmOCywYq"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<script type="text/javascript" src="./../static/js/authConfig.js"></script>
<script type="text/javascript" src="./../static/js/home.js"></script>

<link rel = "stylesheet" href = "../static/css/home.css">
{% endblock %}

{% block content %}

  {% for post in posts %}

  <a href="../post/{{post['postID']}}/">
    <img src="../../static/images/{{post['backImage']}}" alt="">
  </a>

  {% endfor %}

{% endblock %}


