{% extends "base.html" %}
{% block title %} 
    Home 
{% endblock %}

{% block head %}

<script src = "{{ url_for('static', filename='js/home.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/home.css') }}">
<script src="https://kit.fontawesome.com/e79fbaa553.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/styling.css') }}">

{% endblock %}

{% block content %}
  

<div class="row post-container" data-masonry='{"percentPosition": true }' style="width: 100%; margin: 10px;">
  {% for post in posts %}
  <div class="column" style="width: 30%; margin: 10px; float: left;">
    <a href="{{ url_for('get_post', post_id=post.id) }}">
        <img src="{{ url_for('static', filename=post['thumbnail']) }}" class= "image-link rounded-3" alt="" style="width: 100%;">
    </a>
  </div>
  {% endfor %}
</div>
 
{% endblock %}