{% extends "base.html" %}

{% block title %} 
    Post 
{% endblock %}

{% block head %}
    <script src = "../../static/js/post.js"></script>
    <link rel = "stylesheet" href = "../../static/css/post.css">
    <link rel="stylesheet" href="../../static/css/styling.css">
{% endblock %}

{% block content %}

<div id = "left-content">
    <div id = "meme">
        <!-- put the image source here!-->
        <img src = "../../static/images/{{post['backImage']}}" alt = "" id = "{{post['postID']}}">
    </div>
</div>
<div id = "right-content">
    <div id = "details">
        <!-- put the meme details here!-->
        <h2> {{ post["title"] }} </h2>
        <h3> {{ post["username"] }} </h3>

    </div>
</div>


{% endblock %}