{% extends "base.html" %}

{% block title %} 
    Post 
{% endblock %}

{% block head %}
    <script src = "{{ url_for('static', filename='js/post.js') }}"></script>
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/post.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styling.css') }}">
    <script src="https://kit.fontawesome.com/e79fbaa553.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/navBar.js') }}"></script>
{% endblock %}

{% block content %}

<div id = "left-content">
    <div id = "meme">
        <!-- put the image source here!-->
        <img src = "../../static/images/{{post['backImage']}}" alt = "" id = "post-image" width="425">
    </div>
</div>
<div id = "right-content">
    <div id = "details">
        <!-- put the meme details here!-->
        <h2> {{ post["title"] }} </h2>
        <a href="{{ url_for('get_profile', username=post.username) }}">
            <h4>{{ post.username }}</h4>
        </a>      
        <h5> {{ post["numLikes"] }} likes </h5>
        
    </div>
    <div class="post-buttons">
        
        <button id="like-btn" data-postId="{{ post['id'] }}" ><i class="fa-solid fa-thumbs-up"></i></button>  
        <button id="dislike-btn" data-postId="{{ post['id'] }}" ><i class="fa-solid fa-thumbs-down"></i></button>   
        <button id="bookmark-btn" data-postId="{{ post['id'] }}" ><i class="fa-solid fa-bookmark"></i></button>
        <!-- <button id="report-btn"><i class="fa-solid fa-flag"></i></button> -->
        <button id="copy-link-btn"><i class="fa-solid fa-link"></i></button>
        <button id="remix-btn"><i class="fa-solid fa-file-pen"></i></button>
    </div>
    
    <!-- <div id="report-popup" class="popup">
        <div class="popup-content">
            <span class="close-btn" onclick="closePopup()">&times;</span>
            <label for="comment">Reason for Report:</label>
            <textarea id="report-text" placeholder="Enter your report"></textarea>
            <button onclick="submitReport()">Submit</button>
            <button onclick="closePopup()">Cancel</button>
        </div>
    </div> -->

    <form id="comment-form" data-postId="{{ post['id'] }}">
        <label for="comment">Leave a Comment:</label><br>
        <textarea id="comment-box" placeholder="Enter your comment"></textarea><br>
        <input type="submit" value="Submit!">
    </form>
</div>

<div id = "comment-content">
    <h1> Comments:</h1>

    {% for comment in post.comments %}
    <div class="comment-box">
        <div class="comment">
            <p class="comment-time">{{ comment.timePosted }}</p>
            <div class="comment-content">
                <p><strong>{{ comment.username }}</strong>: {{ comment.content }}</p>
            </div>
        </div>
    </div>
    
    {% endfor %}
</div>


{% endblock %}