{% extends "base.html" %}

{% block title %} 
{{user.username}}
{% endblock %}

{% block head %}
    <script src = "../../static/js/profile.js"></script>
    <script src = "../../static/js/navBar.js"></script>
    <link rel = "stylesheet" href = "../../static/css/profile.css">
    <link rel="stylesheet" href="../../static/css/styling.css">
{% endblock %}

{% block content %}
<div class="row px-4"> 
    <div class=" mx-auto">
    <!-- Profile widget --> 
    <div class="bg-white shadow rounded overflow-hidden"> 
    <div class="px-4 pt-0 pb-4 cover"> 
        <div class="media align-items-end profile-head"> 
            <div class="profile mr-3">
                <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                
            </div>
            <div class="media-body mb-5 text-white"> 
                <h2 class="mt-0 mb-0", id="username">{{user.username}}</h2>
                <h2 class="mt-1", id="email">{{user.gccEmail}}</h2>
                <a href="{{ url_for('get_settings') }}" class="btn btn-dark btn-sm btn-block">Edit profile</a>
                    <p class="small mb-4">                  
            </div> 
        </div> 
    </div> 
    <div class="bg-light p-4 d-flex justify-content-end text-center"> 
        <!-- <ul class="list-inline mb-0"> 
            <li class="list-inline-item">                         
                    <h5 class="font-weight-bold mb-0 d-block">215</h5>
            <small class="text-muted"> 
                        <i class="fas fa-image mr-1"></i>Photos</small> 
                      </li> 
                    <li class="list-inline-item"> 
                        <h5 class="font-weight-bold mb-0 d-block">745</h5>                            
                        <small class="text-muted"> 
                        <i class="fas fa-user mr-1"></i>Followers</small> 
                        </li> 
                        <li class="list-inline-item"> 
                            <h5 class="font-weight-bold mb-0 d-block">340</h5>
                            <small class="text-muted"> 
                                <i class="fas fa-user mr-1"></i>Following</small> 
                            </li> 
                         </ul>  -->
                    </div> 
                    <div class="px-4 py-3"> 
                        <h5 class="mb-0">Bio</h5> 
                         <div class="p-4 rounded shadow-sm bg-light"> 
                             <p class="font-italic mb-0">{{user.bio}} </p> 
                         </div> <div class="py-4 px-4"> 
                             <div class="d-flex align-items-center justify-content-between mb-3"> 
                                 <h5 class="mb-0">Recent photos</h5>
                                 <a href="#" class="btn btn-link text-muted">Show all</a> 
                             </div> 
                        </div> 

                  <div class="tab">
                   <button class="tablinks" onclick="openTab(event, 'Created')">Created</button>
                    <button class="tablinks" onclick="openTab(event, 'Liked')">Liked</button>
                    <button class="tablinks" onclick="openTab(event, 'Bookmarked')">Bookmarked </button>
                  </div>
                              
                  <div id="Created" class="tabcontent">
                    {% for post in user.postList  %}
                    <a href="{{ url_for('get_post', post_id=post.postID) }}">
                    <img src="{{ post.render_json().thumbnail }}" alt="" width="425" class="image-link">
                    </a>
                    {{post.title}}
                    <br>
                   {% endfor %}
                  </div>
                              
                  <div id="Liked" class="tabcontent">
                   {% for post in liked_posts %}
                   <a href="{{ url_for('get_post', post_id=post.postID) }}">
                   <img src="{{ post.render_json().thumbnail }}" alt="" width="425" class="image-link">
                   </a>
                   {{post.title}}
                   <br>
                    {% endfor %}
                  </div>
                              
                  <div id="Bookmarked" class="tabcontent">
                    {% for post in bookmarked_posts %}
                   <a href="{{ url_for('get_post', post_id=post.postID) }}">
                   <img src="{{ post.render_json().thumbnail }}" alt="" width="425" class="image-link">
                   </a>
                   {{post.title}}
                   <br>
                    {% endfor %}

                  </div>
                           
        </div>
    </div>
    </div>
</div>
{% endblock %}
