{% extends "base.html" %}

{% block title %} 
{{user.username}}
{% endblock %}

{% block head %}
    <script src = "../../static/js/profile.js"></script>
    <script src = "../../static/js/navBar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    <link rel = "stylesheet" href = "../../static/css/profile.css">
    <link rel="stylesheet" href="../../static/css/styling.css">
{% endblock %}

{% block content %}
<div class="row px-4" > 
    <div class=" mx-auto">
    <!-- Profile widget --> 
    <div class="shadow rounded overflow-hidden" style="background-color: var(--bs-secondary-bg);"> 
    <div class="px-4 pt-0 pb-4 cover" style="background-image: url('/static/images/users/{{ user.gccEmail }}/banner.png')"> 
        <div class="media align-items-end profile-head"> 
            <div class="profile mr-2" style="margin-bottom: 4.5rem;">
                <img id="pfp" data-user="{{ user['gccEmail'] }}" src="/static/images/users/{{user.gccEmail}}/pfp.png" alt="..." width="130" class="rounded mb-2 img-thumbnail bg-body-secondary border-2 border-dark">
            </div>
            <div class="media-body mb-4"> 
                <div class="d-flex justify-content-between align-items-center">
                    <div class="bg-body-secondary rounded px-2 border border-2 border-dark">
                        <h2 class="mt-0 mb-0" id="username">{{user.username}}</h2>
                        <h5 class="mt-1" id="email">({{user.gccEmail}})</h5>
                    </div>
                    {% if loggedInUser and loggedInUser.gccEmail != user.gccEmail %}
                    <div>
                        <button id="blockButton" href="#" class="btn btn-dark btn-sm">
                            {% if blocked %}
                                Unblock
                            {% else %}
                                Block
                            {% endif %}
                        </button>

                        {% if not blocked %}
                            <button id="followButton" href="#" class="btn btn-dark btn-sm">
                                {% if following %}
                                    Unfollow
                                {% else %}
                                    Follow
                                {% endif %}
                            </button>
                        {% else %}
                            <button id="followButton" href="#" style="display: none;" class="btn btn-dark btn-sm">
                                {% if following %}
                                    Unfollow
                                {% else %}
                                    Follow
                                {% endif %}
                            </button>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% if loggedInUser and loggedInUser.gccEmail == user.gccEmail %}
                <a href="{{ url_for('get_settings') }}" class="btn btn-dark btn-sm btn-block" style="--bs-btn-border-color: var(--bs-tertiary-bg); width: 7rem;">Edit profile</a>
                {% endif %}
            </div> 
        </div>
        
    </div> 
                    <div class="px-4 py-3 bg-body-secondary"> 
                        <h5 class="mb-0">Bio</h5>
                         <div class="p-4 rounded shadow-sm bg-body-tertiary mb-2">
                             <p class="font-italic mb-0">{{user.bio}} </p> 
                         </div>

                  <div class="tab border border-2" style="background-color: var(--bs-body-bg);">
                   <button class="tablinks" onclick="openTab(event, 'Created')">Created</button>
                    <button class="tablinks" onclick="openTab(event, 'Liked')">Liked</button>
                    <button class="tablinks" onclick="openTab(event, 'Bookmarked')">Bookmarked </button>
                  </div>
                              
                  <div id="Created" class="tabcontent row" data-masonry='{"percentPosition": true }' style="background-color: var(--bs-body-bg); width: 100%;">
                    {% for post in created_posts  %}
                    <div class="column" style="width: 30%; margin: 10px; float: left;">
                        <a href="{{ url_for('get_post', post_id=post.postID) }}">
                            <img src="{{ url_for('static', filename=post.thumbnail()) }}" alt="" class="image-link">
                            </a>
                      </div>
                   {% endfor %}
                  </div>
                              
                  <div id="Liked" class="tabcontent row" data-masonry='{"percentPosition": true }' style="background-color: var(--bs-secondary-bg); width: 100%;">
                   {% for post in liked_posts %}
                   <div class="column" style="width: 30%; margin: 10px; float: left;">
                    <a href="{{ url_for('get_post', post_id=post.postID) }}">
                        <img src="{{ url_for('static', filename=post.thumbnail()) }}" alt="" class="image-link">
                        </a>
                  </div>
                    {% endfor %}
                  </div>
                              
                  <div id="Bookmarked" class="tabcontent row" data-masonry='{"percentPosition": true }' style="background-color: var(--bs-secondary-bg); width: 100%;">
                    {% for post in bookmarked_posts %}
                   <div class="column" style="width: 30%; margin: 10px; float: left; border-radius: 20px;">
                    <a href="{{ url_for('get_post', post_id=post.postID) }}">
                        <img src="{{ url_for('static', filename=post.thumbnail()) }}" alt="" class="image-link">
                        </a>
                  </div>
                    {% endfor %}

                  </div>
                           
        </div>
    </div>
    <script>
        // Function to execute when the follow button is clicked

        document.addEventListener('DOMContentLoaded', function() {
            followButton = document.getElementById('followButton')
            blockButton = document.getElementById('blockButton')

            const email = document.getElementById("email").innerText;
            otherUserEmail = email.substring(1, email.length-1);
            if(followButton) {
                // Function to execute when the follow button is clicked
                followButton.addEventListener('click', function() {
                    // Data to send to the server
                    var data = {
                        otherUserEmail: otherUserEmail,
                    };

                    // Make an AJAX request to toggle follow status
                    fetch('/toggle_follow_status', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => response.json())
                    .then(data => followButton.innerText = data.is_following ? 'Unfollow' : 'Follow')
                    .catch(error => console.error('Error:', error));
                });
            }

            if(blockButton) {
                // Function to execute when the follow button is clicked
                blockButton.addEventListener('click', function() {
                    // Data to send to the server
                    var data = {
                        otherUserEmail: otherUserEmail,
                    };

                    // Make an AJAX request to toggle follow status
                    fetch('/toggle_block_status', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => response.json())
                    .then(ret => {
                        if(ret.is_blocked) {
                            blockButton.innerText = 'Unblock';
                            if(followButton)
                                followButton.style.display = 'none';
                                fetch('/unfollow', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(data)
                                })
                                .then(followButton.innerText = "Follow")
                        }
                        else {
                            blockButton.innerText = 'Block';
                            if(followButton)
                                followButton.style.display = '';
                        }
                    })
                    .catch(error => console.error('Error:', error));
                });
            }
        });
    </script>

    </div>
</div>
{% endblock %}
