<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="en">
    <head>
        <title>Password Reset - D2M</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Responsive Login and Signup Form </title>

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/signin-oidc.css') }}">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styling.css') }}">

        <!-- msal.min.js can be used in the place of msal.js; included msal.js to make debug easy -->
        <!-- <script id="load-msal" src="https://alcdn.msauth.net/browser/2.31.0/js/msal-browser.js"
        integrity="sha384-BO4qQ2RTxj2akCJc7t6IdU9aRg6do4LGIkVVa01Hm33jxM+v2G+4q+vZjmOCywYq"
        crossorigin="anonymous"></script> -->
                        
    </head>
    <body>
        <nav class="navbar" style="position: fixed">
            <a href="{{ url_for('get_home') }}"><img src="{{url_for('static', filename='images/logo.png')}}" alt="D2M logo" style="width:3rem;height:3rem; border-radius: 10px;"></a>
        </nav>
        <section id="formMode" class="container forms show-reset">
            <!-- Password reset -->

            <div class="form reset">

                <style>
                    #resetDisplay {
                        display: inline;
                    }
                </style>

                <div id="resetDisplay" class="form-content">
                    <header>Reset Password</header>
                    <!-- <form action="#" id = "resetForm"> -->
                        <div class="field input-field">
                            <input id="newPassword" type="password" placeholder="New Password" class="input">
                        </div>

                        <div class="field button-field">
                            <button type="button" onclick="reset()">Submit</button>
                        </div>
                    <!-- </form> -->

                    <div class="form-link">
                        <a id="cancelReset" href="/signin-oidc" class="reseter reset-link">Cancel</a>
                    </div>
                </div>

                <style>
                    #faultyLinkDisplay {
                        display: none;
                    }
                </style>

                <div id="faultyLinkDisplay">
                    <span>This link is expired</span>
                </div>
            </div>
        </section>

        <script type="text/javascript" src="{{ url_for('static', filename='js/passwordReset.js') }}"></script>
    </body>
</html>