<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Responsive Login and Signup Form </title>

        <!-- CSS -->
        <link rel="stylesheet" href="../static/css/signin-oidc.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <!-- msal.min.js can be used in the place of msal.js; included msal.js to make debug easy -->
        <!-- <script id="load-msal" src="https://alcdn.msauth.net/browser/2.31.0/js/msal-browser.js"
        integrity="sha384-BO4qQ2RTxj2akCJc7t6IdU9aRg6do4LGIkVVa01Hm33jxM+v2G+4q+vZjmOCywYq"
        crossorigin="anonymous"></script> -->
                        
    </head>
    <body>
        <section id="formMode" class="container forms show-reset">
            <!-- Password reset -->

            <div class="form reset">
                <div class="form-content">
                    <header>Reset Password</header>
                    <form action="#" id = "resetForm">
                        <div class="field input-field">
                            <input id="resetUsername" type="password" placeholder="New Password" class="input">
                        </div>

                        <div class="field button-field">
                            <button type="button" onclick="sendEmail()">Submit</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <a id="resetLink" href="#" class="reseter reset-link">Cancel</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- JavaScript -->
        <!-- importing app scripts (load order is important) -->
        <!-- <script type="text/javascript" src="./../static/js/authConfig.js"></script> -->
        <!-- <script type="text/javascript" src="./../static/js/authRedirect.js"></script> -->
        <script type="text/javascript" src="./../static/js/passwordReset.js"></script>
    </body>
</html>