<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Responsive Login and Signup Form </title>

        <!-- CSS -->
        <link rel="stylesheet" href="../static/css/signin-oidc.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <!-- msal.min.js can be used in the place of msal.js; included msal.js to make debug easy -->
        <script id="load-msal" src="https://alcdn.msauth.net/browser/2.31.0/js/msal-browser.js"
        integrity="sha384-BO4qQ2RTxj2akCJc7t6IdU9aRg6do4LGIkVVa01Hm33jxM+v2G+4q+vZjmOCywYq"
        crossorigin="anonymous"></script>
                        
    </head>
    <body>
        <section id="formMode" class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Login</header>
                    <form action="#">
                        <div class="field input-field">
                            <input id="existingUsername" type="username" placeholder="Username" class="input">
                        </div>

                        <div class="field input-field">
                            <input id="existingPassword" type="password" placeholder="Password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="form-link">
                            <a href="#" class="forgot-pass">Forgot password?</a>
                        </div>

                        <div class="field button-field">
                            <button onclick="loginExisting()">Login</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
                    </div>
                </div>

                <div class="line"></div>

                <div class="media-options">
                    <a href="#" class="field google">
                        <!-- <img src="../static/images/google.png" alt="" class="google-img"> -->
                        <span onclick="signIn()" style = "cursor: pointer;">Login with Microsoft</span>
                    </a>
                </div>

            </div>

            <!-- Signup Form -->

            <div class="form signup">
                <div class="form-content">
                    <header>Signup</header>
                    <form action="#">
                        <!-- <div class="field input-field">
                            <input type="email" placeholder="GCC Email" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="username" placeholder="Username" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div> -->

                        <div class="field button-field">
                            <button onclick="signIn()">Signup</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                    </div>
                </div>
            </div>

            <!-- Show registration -->

            <div class="form register">
                <div class="form-content">
                    <header>Register</header>
                    <form action="#" id = "registerForm">
                        <!-- <div class="field input-field">
                            <input type="email" placeholder="GCC Email" class="input">
                        </div> -->

                        <div class="field input-field">
                            <input id="newUsernameField" type="text" placeholder="Username" class="input">
                        </div>

                        <div class="field input-field">
                            <input id="newPasswordField" type="password" placeholder="Password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="field button-field">
                            <!-- <button onclick="signIn()">Register</button> -->
                            <button onclick="addUser()">Register</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                    </div>
                </div>
            </div>
        </section>

        <!-- JavaScript -->
        <!-- importing app scripts (load order is important) -->
        <script type="text/javascript" src="./../static/js/authConfig.js"></script>
        <script type="text/javascript" src="./../static/js/authRedirect.js"></script>
        <script type="text/javascript" src="./../static/js/signin-oidc.js"></script>
    </body>
</html>